@page "/create-veiculo"
@using TravelManage.Domain.Shared.DTO;
@using TravelManage.WebApp.Services;

@inject NavigationManager NavigationManager

<PageTitle>Criar Veículo</PageTitle>

<h1>Criar Veículo</h1>



<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="marca">Marca</label>
                <InputText id="marca" @bind-Value="model.Marca" class="form-control" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <InputText id="modelo" @bind-Value="model.Modelo" class="form-control" />
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="cor">Cor</label>
                <InputText id="cor" @bind-Value="model.Cor" class="form-control" />
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="placa">Placa</label>
                <InputText id="placa" @bind-Value="model.Placa" class="form-control" />
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="potencia">Potência Motor</label>
                <InputNumber id="potencia" @bind-Value="model.PotenciaMotor" class="form-control" />
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="capacidade">Capacidade Passageiros</label>
                <InputNumber id="capacidade" @bind-Value="model.CapacidadePass" class="form-control" />
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="ano">Ano</label>
                <InputNumber id="ano" @bind-Value="model.AnoFabric" class="form-control" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="combustivel">Tipo Combustível</label>
                <InputSelect id="combustivel" @bind-Value="model.TipoCombustivel" class="form-control">
                    @foreach (var value in Enum.GetValues<TipoCombustivelEnumDto>())
                    {
                        <option value="@value">@value</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="proprietario">Proprietário</label>
                <InputSelect id="proprietario" @bind-Value="model.IdProprietario" class="form-control">
                    @foreach (var proprietario in Proprietarios)
                    {
                        <option value="@proprietario.Id">@proprietario.Nome</option>
                    }
                </InputSelect>
            </div>
        </div>

    </div>


    <div class="row m-1">
        <div class="col-md-12">
            <div class="align-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            </div>
        </div>
    </div>

</EditForm>


@code {

    [Inject]
    public IVeiculoServices VeiculoServices { get; set; }

    [Inject]
    public IProprietarioServices ProprietarioServices { get; set; }

    private CreateVeiculoDto model = new CreateVeiculoDto();

    private IList<ProprietarioDto> Proprietarios { get; set; } = new List<ProprietarioDto>();

    protected override async Task OnInitializedAsync()
    {
        Proprietarios = await ProprietarioServices.GetList();
    }

    private async void HandleValidSubmit()
    {
        await VeiculoServices.Create(model);
        NavigationManager.NavigateTo("veiculos");
        Console.WriteLine("OnValidSubmit");
    }
}