@page "/veiculos"
@using TravelManage.Domain.Shared.DTO;
@using TravelManage.WebApp.Services;


@inject NavigationManager NavigationManager

<PageTitle>Veículos</PageTitle>



<h1>Veículos</h1>


@if (Veiculos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" @onclick="Create">Novo</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Potencia</th>
                <th>Qtd. Pessoas</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var veiculo in Veiculos)
            {
                <tr>
                    <td>@veiculo.Marca</td>
                    <td>@veiculo.Placa</td>
                    <td>@veiculo.Modelo</td>
                    <td>@veiculo.Cor</td>
                    <td>@veiculo.PotenciaMotor</td>
                    <td>@veiculo.CapacidadePass</td>
                    <td>
                        <button @onclick="(()=> Edit(veiculo.Id))" class="btn btn-outline-secondary">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button @onclick="(()=> Delete(veiculo.Id))" class="btn btn-outline-danger">
                            Delete
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<VeiculoDto>? Veiculos { get; set; }

    [Inject]
    private IVeiculoServices VeiculoServices { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Veiculos = await VeiculoServices.GetList();
    }

    public void Create()
    {
        NavigationManager.NavigateTo("create-veiculo");
    }

    public void Edit(int id)
    {
        NavigationManager.NavigateTo("editar-veiculo/" + id);
    }

    public async Task Delete(int id)
    {
        await VeiculoServices.Delete(id);
        Veiculos = await VeiculoServices.GetList();
    }
}

